.contributors {
  display: flex;
  justify-content: center;
  width: 100%;
  

  div {
    padding: 5%;
    width: 24%;
    // border: 2px solid red;
  }
}

.about-cta {
  margin: 20px 0;

  p{
    margin:0px 80px 40px;  
    
  }
}

@media @tablet{
  .contributors{
    flex-flow: wrap; 
    

    div {
      align-self: baseline;
      padding: 5% ;
      width: 40%;
    }
    
  }
  
}

@media @mobile{
  .contributors{
    flex-direction: column; 
    

    div {
      width: 100%;
    }
    
  }
  
}

.contributors div img {
  height: 100px;
  width: 100px;
}


.about-middle-img {
  height: auto;
  width: 100%;
  margin: 20px 0;
  border-radius: 8px;
 
  @media @mobile{
    display: none;
  }
}
