.container .contributors div {
  display: inline-block;
  width: 20%;
}

@media @mobile{
  .container .contributors div{
    display: block;
    width: 100%;
    
  }
}
.container .contributors div img {
  height: 100px;
  width: 100px;
}


.about-middle-img {
  height: auto;
  width: 100%;
  border-radius: 8px;
 
  @media @mobile{
    display: none;
  }
}